<h2 class="pane-title">About</h2>
<section>
    <h3>What Is This?</h3>
    <p>
        As part of the <em>Accessible Bath</em> project we are using a tool called Wheelmap to help us map
        accessibility of locations around the city.
    </p>
    <p>
        You can find out more about the Accessible Bath project on the
        <a href="https://www.bathhacked.org/category/projects/accessible-bath/">Bath: Hacked website</a>.
        You can also watch <a href="https://www.youtube.com/watch?v=AKrPRickJ7M" target="_blank">a short video</a>,
        which introduces the project.
    </p>
    <p>
        <a href="https://wheelmap.org/en/map#/?lat=51.382281056660254&amp;lon=-2.370600700378418&amp;zoom=14">
            Wheelmap.org
        </a> is an online map for gathering crowd-sourced information about the wheelchair accessibility of public
        places. A simple traffic light system is used for marking places according to their wheelchair accessibility.
    </p>
    <p>
        This page shows progress for the locations in Bath, Somerset. As more locations are tagged with their
        wheelchair accessibility, the progress tab will update to reflect changes.
    </p>
</section>
<section>
    <h3>How Can I Help?</h3>
    <p>
        You can go to
        <a href="https://wheelmap.org/en/map#/?lat=51.382281056660254&amp;lon=-2.370600700378418&amp;zoom=14">
            WheelMap.org
        </a>
        to tag venues you know about with their wheelchair accessibility. Apps are also available for Android and iOS.
    </p>
</section>
<section>
    <h3>Which area is covered?</h3>
    <p>
        We're starting relatively small by tracking locations within a 2 km by 2 km area around the Bath Guildhall.
        We hope that this will encourage volunteers to begin by mapping the city centre, giving the most help to the
        most residents and visitors.
    </p>
    <p>
        We plan to expand the area covered, as participation grows, ultimately aiming to cover the whole of
        Bath &amp; North East Somerset.
    </p>
    <p>
        You can see the area covered in the map below.
    </p>
    <img src="/assets/img/extent.jpg" width="1035" height="776">
</section>
<section>
    <h3>How Can I Get More Information?</h3>
    <p>
        The <a href="https://wheelmap.org">Wheelmap website</a> has all of the information about their worldwide
        crowdsourcing project, with an extensive <a href="https://news.wheelmap.org/en/faq/">FAQ</a>.
    </p>
    <p>
        <a href="https://bathhacked.org">Bath:Hacked</a> can provide help or training on how to use wheelmap to
        improve accessibility in Bath.
        You can tweet us at <a href="https://twitter.com/bathhacked">@BathHacked</a>
        or email <a href='&#109;ai&#108;to&#58;&#108;&#101;%69&#37;67h&#64;b%61&#37;74h&#104;%61cke%64&#46;%6Frg'>lei&#103;h&#64;bathha&#99;ked&#46;org</a>.
    </p>
</section>
<section>
    <h3>Is This Data Openly Available?</h3>
    <p>
        Yes. Wheelmap is based on the free world map <a href="http://www.openstreetmap.org/">OpenStreetMap</a> and
        all the data is stored there.
        The data sets are published under the
        <a href="http://en.wikipedia.org/wiki/Open_Database_License">Open Database License</a> (ODbL)
        and are available to anyone and can be used free of charge.
    </p>
</section>
<section>
    <h3>Disclaimer</h3>
    <p>
        This page is not affiliated with
        <a href="https://wheelmap.org/en/map#/?lat=51.382281056660254&amp;lon=-2.370600700378418&amp;zoom=14">
            WheelMap.org
        </a>,
        but uses its <a href="https://wheelmap.org/en/api/docs">API</a> to show progress.
        This page was created by
        <a href="https://bathhacked.org">Bath:Hacked</a> as a way of
        tracking progress as we try to crowdsource accessibility open data in BANES.
    </p>
</section>
