<h2 class="pane-title">Map</h2>

<section>
    <p>Zoom into the map to see more locations. Use the buttons, below the map to control which locations are visible.</p>
    <iframe class="wheelmap-embed"
            height="640"
            src="https://wheelmap.org/en/embed/9ZVsvrTsjWpyPMYTftm9#/?lat=51.3813864&lon=-2.3596962&zoom=14&status=yes.limited.no"></iframe>
</section>