<div class="footer outer">
    <div class="container">
        <footer>
            A community crowdsourcing project from <a href="https://www.bathhacked.org/" target="_blank">Bath: Hacked</a>.
            Website built by <a href="https://twitter.com/azazell0" target="_blank">Mark Owen</a>
            &amp; <a href="https://twitter.com/thomasfletcher" target="_blank">Thomas Fletcher</a>
            <br><br>
            Based on data from OpenStreetMap &mdash; &copy; OpenStreetMap contributors
        </footer>
    </div>
</div>

<a href="#" class="to-top" data-to-top><i class="glyphicon glyphicon-circle-arrow-up"></i></a>