<div class="outer header">
    <div class="container">
        <header>
            <h1>
                <a href="/">
                    Accessible Bath
                    <object type="image/svg+xml" data="/assets/img/logo.svg" class="logo"></object>
                    Current Progress
                </a>
            </h1>
        </header>
    </div>
</div>