{% extends 'partials/layout.twig' %}

{% block main %}
    <div class="outer main">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center" style="padding-top: 90px; padding-bottom: 90px; min-height: 60vh;">
                    <h1 style="margin-bottom: 90px;">Page not found</h1>
                    <p><a href="/" class="btn btn-primary">Return to our main page</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}