html {
  font-size: 10px;
}
@media (max-width: 1200px) {
  html {
    font-size: 9px;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 8px;
  }
}

body {
  background-color: #445566;
  font-weight: 400;
  font-size: 1.8rem;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

a {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}

.wm-green {
  color: #8db745 !important;
}

.wm-amber {
  color: #ef9333 !important;
}

.wm-red {
  color: #c6322a !important;
}

.wm-grey {
  color: #a9a9a9 !important;
}

.outer.header {
  background-color: #445566;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.outer.header a {
  color: inherit;
  display: block;
}
.outer.header a:hover {
  text-decoration: none;
}
.outer.header .logo {
  height: 80px;
  width: auto;
  margin-left: 20px;
  margin-right: 20px;
  vertical-align: middle;
}
@media (max-width: 640px) {
  .outer.header .logo {
    display: block;
    margin: 20px auto;
    height: 80px;
  }
}
.outer.header h1 {
  background-color: #445566;
  color: #fff;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 24px;
  margin: 0;
  text-align: center;
}

.outer.footer {
  background-color: #445566;
  color: rgba(255, 255, 255, 0.6);
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 1.3rem;
  text-align: center;
}
.outer.footer a {
  color: #fff;
}

.outer.main {
  background-color: #ebeff4;
  padding-top: 15px;
  padding-bottom: 15px;
}
@media (min-width: 992px) {
  .outer.main {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

a.to-top {
  position: fixed;
  font-size: 4rem;
  bottom: -60px;
  right: 20px;
  -webkit-transition: bottom 1s, color 0.5s;
  transition: bottom 1s, color 0.5s;
  color: #6b923b;
}
a.to-top:focus {
  color: #6b923b;
}
a.to-top:hover {
  color: #8fa2b4;
}
a.to-top.active {
  bottom: 20px;
}

.main-tabs .nav-tabs {
  font-size: 2rem;
  font-family: "Roboto Slab", Georgia, "Times New Roman", Times, serif;
}
.main-tabs .nav-tabs li a {
  padding-top: 9px;
  padding-bottom: 9px;
}
.main-tabs .nav-tabs li:not(.active) > a:hover {
  background-color: #fff;
}
@media (max-width: 768px) {
  .main-tabs .nav-tabs li a {
    padding: 4px 8px;
  }
}
@media (min-width: 768px) {
  .main-tabs .nav-tabs li + li {
    padding-left: 10px;
  }
}
.main-tabs .tab-pane {
  position: relative;
  top: -1px;
  padding: 60px 52px;
  border: none;
  border-top: 5px solid #445566;
  border-radius: 0 0 4px 4px;
}
.main-tabs .tab-pane h2.pane-title {
  font-size: 4.2rem;
  margin-bottom: 50px;
  font-weight: 700;
  text-align: center;
}
.main-tabs .tab-pane#progress {
  padding-bottom: 20px;
}
.main-tabs .tab-pane#map iframe {
  border: 5px solid #445566;
  width: 100%;
  height: 640px;
  max-height: 100vh;
}
.main-tabs .tab-pane#about section + section {
  margin-top: 50px;
}
@media (max-width: 768px) {
  .main-tabs .tab-pane {
    padding: 40px 20px 20px;
  }
}

@media (max-width: 992px) {
  #map-tab,
  #map {
    display: none;
  }
}
.progress-container .progress-container-inner {
  text-align: center;
}
.progress-container .progress-container-inner:before, .progress-container .progress-container-inner:after {
  content: " ";
  display: table;
}
.progress-container .progress-container-inner:after {
  clear: both;
}
.progress-container .progress-container-inner .minor, .progress-container .progress-container-inner .major {
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 1.4rem;
}
.progress-container .progress-container-inner .minor:before, .progress-container .progress-container-inner .minor:after, .progress-container .progress-container-inner .major:before, .progress-container .progress-container-inner .major:after {
  content: " ";
  display: table;
}
.progress-container .progress-container-inner .minor:after, .progress-container .progress-container-inner .major:after {
  clear: both;
}
.progress-container .progress-container-inner .minor:nth-child(2n+1), .progress-container .progress-container-inner .major:nth-child(2n+1) {
  clear: left;
}
@media (min-width: 992px) {
  .progress-container .progress-container-inner .minor:nth-child(2n+1), .progress-container .progress-container-inner .major:nth-child(2n+1) {
    clear: none;
  }
  .progress-container .progress-container-inner .minor:nth-child(3n+1), .progress-container .progress-container-inner .major:nth-child(3n+1) {
    clear: left;
  }
}
.progress-container .progress-container-inner .box {
  padding: 30px 10px;
  border: 1px solid #eee;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}
@media (min-width: 992px) {
  .progress-container .progress-container-inner .box {
    min-height: 330px;
    padding: 20px 10px;
  }
}
.progress-container h3 {
  font-size: 2.0rem;
  min-height: 2.5em;
  max-width: 280px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}
@media (max-width: 992px) {
  .progress-container h3 {
    margin-bottom: 10px;
  }
}
.progress-container .vtp {
  line-height: 1;
  height: 130px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 28px;
}
.progress-container .vtp:before, .progress-container .vtp:after {
  content: " ";
  display: table;
}
.progress-container .vtp:after {
  clear: both;
}
@media (max-width: 992px) {
  .progress-container .vtp {
    height: auto !important;
  }
  .progress-container .vtp .value {
    font-size: 5rem !important;
  }
}
.progress-container .vtp .value {
  display: block;
  text-align: center;
  font-size: 7rem;
  font-weight: bold;
  color: #445566;
  text-shadow: 0 1px 1px white, 0 -1px 1px rgba(0, 0, 0, 0.2);
  letter-spacing: -1px;
  margin-bottom: 12px;
}
.progress-container .vtp .total {
  display: inline-block;
  clear: right;
  font-size: 1.5rem;
  opacity: 0.8;
}
.progress-container .vtp .total:before {
  content: ' / ';
}
.progress-container .vtp .percent {
  display: inline-block;
  clear: right;
  font-size: 2.0rem;
  font-weight: bold;
  color: #445566;
}
.progress-container .wmy {
  clear: both;
}
.progress-container .wmy > div {
  display: inline-block;
  font-size: 1.4rem;
}
.progress-container .wmy > div + div:before {
  content: ' | ';
}
.progress-container .wmy .up:before {
  content: '';
  display: inline-block;
  margin-right: 2px;
  position: relative;
  top: -2px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 4px 8px 4px;
  border-color: transparent transparent #8db745 transparent;
}
.progress-container .wmy .down:before {
  content: '';
  display: inline-block;
  margin-right: 2px;
  position: relative;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 4px 0 4px;
  border-color: #c6322a transparent transparent transparent;
}
.progress-container .chart-container h3 {
  margin-bottom: 16px;
}
.progress-container .chart-container .chart {
  max-width: 220px;
  margin-left: auto;
  margin-right: auto;
}
.progress-container .major .vtp {
  height: 150px;
}
.progress-container .major .vtp .value {
  font-size: 9rem;
}
.progress-container .category:before, .progress-container .category:after {
  content: " ";
  display: table;
}
.progress-container .category:after {
  clear: both;
}
.progress-container .category .category-title {
  margin-bottom: 40px;
}
.progress-container .category:not(:first-child) .category-title {
  padding-top: 40px;
}
.progress-container .latest h3 {
  margin-bottom: 0px;
}
.progress-container .latest .info {
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  .progress-container .latest {
    padding-top: 30px;
  }
  .progress-container .latest .info {
    min-height: 200px;
    margin-bottom: 0;
  }
}
.progress-container .latest .address {
  margin-bottom: 20px;
}
.progress-container .latest .category {
  margin-top: 10px;
}
.progress-container .latest .wheelchair, .progress-container .latest .toilet {
  margin-top: 15px;
  font-size: 1.8rem;
  font-weight: bold;
}
.progress-container .latest .wheelchair.wm-grey, .progress-container .latest .toilet.wm-grey {
  font-weight: normal;
}
.progress-container .latest .btn {
  font-size: 1.4rem;
  text-transform: uppercase;
}
